*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
nav{
    height: 80px;
    padding: 0px 50px;

}
nav .navbar-brand{
   font-size: 24px;
   color: #fff;
}
nav .navbar-toggler{
    background: #fff;
}
.main{
    margin-top: 150px;
}
.card-item{
    width: 350px;
    height: 350px;
    position: relative;
    box-sizing: border-box;
}
.card-item p{
    font-size: 16px;
    font-weight: 700;
}
.action{
    display: flex;
    color: #fff;
    position: absolute;
    width: auto;
    height: auto;
    top: 5px;
    left: 10px;
}
.action .action_item{
    position: relative;
    width: 10px;
    height: 25px;
    margin-right:20px;
}
.action_item button{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
.action i{
    z-index: 3;
    position: absolute;
    top: 5px;
    left:6px;
    font-size: 14px;
}
.action i:hover, :active{
    cursor: pointer;
}
